* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    height: 60px;
}

.navbar {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
}

.navbar ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
}

.navbar ul li {
    margin-left: 15px;
}

.navbar ul li a {
    color: black;
}

.link:hover {
    text-decoration: underline;
}

.circle-shadow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-shadow:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-icon,
.user-icon span {
    font-size: 18px;
}

.user-icon {
    background-color: #ef6c00;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.user-icon span {
    color: white;
}

/* Content */
.content-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

.logo-img {
    width: 300px;
    margin-bottom: 20px;
}

.search-bar {
    border: 1px solid lightgray;
    width: 600px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-bar:hover {
    box-shadow: 0px 0px 4px #b5b5b5;
}

.search-bar i {
    font-size: 18px;
    color: gray;
    margin-right: 15px;
    cursor: pointer;
}

.search-bar input {
    flex-grow: 1;
    height: 30px;
    font-size: 16px;
    border: none;
}

.search-bar input:focus {
    outline: none;
}

.search-btn {
    margin-top: 20px;
}

.search-btn button {
    height: 40px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin: 0 6px;
    background-color: #f2f3f4;
    cursor: pointer;
}

.search-btn button:hover {
    border: 1px solid lightgray;
}

.google-search-btn {
    width: 130px;
}

.lucky-search-btn {
    width: 150px;
}

.language {
    margin-top: 20px;
    font-size: 14px;
}

.language p a {
    color: #1a0dab;
}

.language p a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #f2f2f2;
    margin-top: auto;
}

.footer-content {
    padding: 15px 30px;
}

/* Top footer */
.upper-footer {
    border-bottom: 1px solid #dadce0;
}

.upper-footer p {
    color: #70757a;
    font-size: 14px;
}

/* Bottom footer */
.lower-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lower-left-footer,
.lower-right-footer {
    display: flex;
}

.lower-left-footer li,
.lower-right-footer li {
    margin: 0 15px;
}

.lower-footer a {
    font-size: 14px;
    color: #70757a;
}

.lower-footer a:hover {
    text-decoration: underline;
}

/* Responsive */
@media only screen and (max-width: 650px) {
    .navbar ul {
        font-size: 12px;
    }

    .logo-img {
        width: 200px;
    }

    .search-bar {
        width: 90%;
        height: 40px;
    }

    .search-bar i {
        font-size: 14px;
    }

    .search-btn button {
        height: 35px;
        font-size: 12px;
    }

    .lower-footer {
        flex-direction: column;
        gap: 10px;
    }
}
